.list-notes {
    background-color: rgba(255, 255, 255, .9);
    /*filter: blur(10px);*/
}

.btn-contain {
    height: 650px;
    max-height: 650px;
    min-height: 650px;
    padding: 10px;
}

.new-note {
    height: 70px;
}

.bind-btn {
    display: block;
    margin: 4px 0 0 0;
}

.btn-new-note {
    width: 200px;
    height: 35px;
    border: 2px solid #f81376;
    color: #f81376;
    padding: auto auto;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 400;
    margin: auto 25px auto 25px;
    text-align: center;
}

.btn-new-note:hover {
    color: #f81376;
}

.btn-new-note svg {
    display: inline-block;
    background-size: contain;
    cursor: pointer;
    height: 24px;
    fill: #f81376;
    padding-right: 5px;
}
.btn-new-note div {
    display: inline-block;
}

.list-notes-contain {
    padding-top: 10px;
    padding-right: 12px;
    padding-left: 12px;
    height: 650px;
    overflow: auto;
}

.list-notes-contain-autosize {
    padding: 0px;
}

.tab-notes {
    width: 226px;
    max-width: 226px;
    height: 64px;
    text-decoration: none;
    color: #3b4669;
    border-bottom: 1px solid #e6e8f1;
    padding: 10px;
    display: block;
}
.tab-notes:hover {
    text-decoration: none;
    color: #f81376;
}

.head-note {
    font-weight: 600;
    font-size: 15px;
}

.date-note {
    font-size: 12px;
    font-weight: 300;
    color: #9197aa;
}

.tab-notes.selected {
    background-color: #f81376;
    color: white;
    border-radius: 3px;
    border-bottom: 0px;
}

.tab-notes.selected .date-note {
    color: white;
}