.note-contain {
    background-color: white;
    padding: 0px;
}

.toolbar-panel div {
    height: 70px;
}

.note-contain .manage-buttons {
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
    fill: #9197aa;
}
.note-contain .manage-buttons a:hover {
    text-decoration: none;
}

.note-contain .manage-buttons a {
    padding-left: 5px;
}

.note-contain .note-info {
    padding: 20px 0 0 20px;
}
.note-contain .note-info * {
    display: inline-block;
    height: 24px;
    color: #9197aa;
}

.note-contain .note-info svg {
    fill: #9197aa;
    padding-bottom: 4px;
}

.note-contain .note-text {
    height: 650px;
    max-height: 650px;
    width: 700px;
    max-width: 700px;
}

.note-contain .note-text .wrap-note-text {
    height: 650px;
    max-height: 650px;
    width: 700px;
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
}

.note-contain .note-text .wrap-note-text .wrap-note-header {
    font-size: 40px;
    font-weight: 500;
}

.note-contain .note-text .wrap-note-text .wrap-note-contain-text {
    overflow: auto;
    height: 580px;
    max-height: 580px;
    padding-bottom: 10px;
}